
.form-group {
    display: flex;
}

.button__edit {
    background-color: #1da1d1; 
    border: 2px solid black;
    color: rgb(255, 255, 255);
    padding: 2px 24px;
    text-align: center;
    font-size: 14px color white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button__delete {
    background-color: #ff4400;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    padding: 2px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button__complete {
    background-color: #e6d005;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    padding: 2px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button__complete:hover {
    background-color: pink;
  }
  .button__delete:hover {
    background-color: green;
  }
  .button__edit:hover {
    background-color: #ffaa00;
  }
  .button__add {
    background-color: #f74ca2;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    padding: 2px 24px;
    margin: 2rem;
    display: inline-block;
    font-size: 16px;
  }
  .button__add:hover{
    background-color: #ffaa00;
  }
  .task_list {
    background-color: rgb(255, 255, 247);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 3, 104);
    padding: 10px 1px;
    margin: 2rem;
    align-items: center;
    text-align: center;
  }