.list__header {
  display: flex;
  flex-wrap: wrap;
  background: #fffcb0;
  text-align: center;
  font-family: 'Roboto';
  font-style: bold;
  align-items: center;
  padding: 1rem 1rem;
  justify-content: center;
}

.task__list {
  text-align: justify;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: center;
  padding: 1.5%;
  margin: 1rem 0.5rem;
  justify-content: center;
}

.task__header {
  display: flex;
  flex-wrap: wrap;
  background: #a6bfff(253, 242, 145);
  text-align: center;
  font-family: 'Roboto' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: bold;
  align-items: center;
  justify-content: center;
}

.form-group {
  background: #fffc9a(255, 227, 103);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1%;
  justify-content: center;
}

.list__row {
  display: flex;
  flex-wrap: wrap;

}