.App {
  text-align: center;
}

.App-logo {
  height: auto;
  pointer-events: all;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 5px 1px;
}

.App-header {
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

body {
  min-height: 80vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer {
  margin-top: auto;
}
