.App {
  text-align: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  padding: 5px 1px;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e1e158;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 4, 33);
}
