body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(220, 100%, 97%);
  font-family: 'Tahoma';
  color: rgb(0, 0, 0);
}

h1 {
  font-family: 'Cambria';
  color: rgb(0, 0, 0);
  font-size: relative;
  justify-content: center;
}

h2 {
  font-family: 'Cambria';
  color: rgb(0, 0, 0);
  font-size: relative;
}

h3 {
  font-family: 'Verdana';
  color: rgb(0, 0, 0);
  font-size: relative;
}

h4,
h5 {
  font-family: 'Verdana';
  color: rgb(0, 0, 0);
  font-size: relative;
}

.header {
  background-color: rgb(255, 254, 250);
  display: "flex";
  width: '100%';
  position: "center";
  padding-Block: "5rem";
  padding-left: "10rem";
  font-Family: "monospace";
  color: "light";
  justify-content: "center";
  align-Content: "baseline";
  text-Align: "center";
}



.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.flexDiv {
  margin: 10px;
  flex: 0 0 calc(33.33% - 20px);
  /* Adjust the percentage as needed for the desired number of cards per row */
  justify-content: center;
}

.cardContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}

.flexDiv:first-child Card.Title {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

HTML CSS Result Skip Results Iframe body {
  background-color: #555;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}