body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #74a9ff;
  font-family: "Roboto";
  color: rgb(13, 6, 48);
}

.task__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.task {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.centered-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

HTML CSS Result Skip Results Iframe body {
  background-color: #ecf9ff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  color: rgb(188, 33, 162);
}

a:hover {
  color: rgb(255, 204, 0);
}

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}
