.container {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    background:#ffce0a;
}
.container > * {
    padding: 3px;
    flex: 1 100%;
}


.navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logout {
    position: right;
  flex-direction: row;
  
}
